<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208816554691-7mrk9dfl1p88toat2j1v8br5no5bbjf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208816554691-7mrk9dfl1p88toat2j1v8br5no5bbjf9</string>
	<key>API_KEY</key>
	<string>AIzaSyCNJCZGUTTByd8NCrkCpZmgd_GHCbc1zIE</string>
	<key>GCM_SENDER_ID</key>
	<string>208816554691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.jobs</string>
	<key>PROJECT_ID</key>
	<string>jobs-cdd4c</string>
	<key>STORAGE_BUCKET</key>
	<string>jobs-cdd4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208816554691:ios:c137a5a8054970d38e1876</string>
</dict>
</plist>